<ng-container *ngIf="loading; then progress; else window">
</ng-container>
<ng-template #progress>
	<mat-progress-bar mode="indeterminate" id="progress-bar"></mat-progress-bar>
</ng-template>
<ng-template #window>
	<div class="upload-window" *ngIf="!isUploaded">
		<div id="title">
			Upload your image
		</div>
		<div id="description">
			File Should be Jpeg, png...
		</div>
		<ngx-dropzone (change)="onSelect($event)" id="dropZone" [disableClick]="true">
			<div id=upload-frame>
				<img src="../../assets/images/upload.svg" alt="upload-img" id="upload-img">
				<div id="description">Drag and Drop File Here</div>
			</div>
		</ngx-dropzone>
		<div style="color: #4e4e4e;margin-bottom: 10px;">Or</div>
		<label id="upload-btn">
			<input type="file" (change)="chooseFile($event)" />
			Choose a file
		</label>
		<!--<button (click)=" chooseFile()">Choose a file</button>-->
	</div>
</ng-template>
<div class="final-window" *ngIf="isUploaded">
	<img src="../../assets/images/check-circle.svg" alt="greenTick" id="greenTick">
	<div id="title">Uploaded Successfully </div>
	<div id="upload-frame">
		<img [src]="shortLink" alt="uploadedImage" id="uploadedPic">
	</div>
	<div>
		<input name="imageUrl" id="imageUrl" [value]="shortLink" #imageLink>
		<button id="copyButton" (click)="copyToClipboard(imageLink)">Copy Link</button>
	</div>
</div>