.upload-window {
  width: 400px;
  height: 450px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 60px 500px;
  box-shadow: 2px 5px #999999;
}
#title {
  padding-top: 30px;
}
#description {
  font-size: 10px;
  color: #4e4e4e;
  margin-top: 20px;
  margin-left: 15px;
}
#upload-btn {
  background-color: #2f80ed;
  color: antiquewhite;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  margin-top: 80px;
}
#upload-frame {
  padding: 30px 5px;

  margin: 30px 60px;
}
#upload-img {
  width: 120px;
  margin-left: 30px;
}
input[type="file"] {
  margin-top: 80px;
  display: none;
}
#dropZone {
  overflow: hidden;
  margin: 40px;
}
#progress-bar {
  width: 40%;
  margin-top: 300px;
  margin-left: 450px;
}
#uploadedPic {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  margin-right: 450px;
}
#greenTick {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 7px;
}
#copyButton {
  background-color: #2f80ed;
  color: antiquewhite;
  border-radius: 3px;
  border: none;
  margin-left: 50px;
  padding: 6px 4px;
}
.final-window {
  width: 400px;
  height: 450px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 60px 500px;
  box-shadow: 2px 5px #999999;
  padding-right: 15px;
  padding-bottom: 15px;
}
#imageUrl {
  padding: 5px 2px;
  border-radius: 5px;
  border-color: #999999;
}
